.wrapper {
  display: grid;
}

.item {
  display: flex;
  justify-content: center;
  width: 100%;
  @include mq.mq($until: tablet) {
    padding: 0 12px;
  }
  @include mq.mq($from: tablet) {
    padding: 0 24px;
  }
}

.inner {
  max-width: 980px;
  width: 100%;
}
