body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  overflow: hidden auto;
}

* {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  pointer-events: none;
}

ul {
  list-style: none;
}
