.wrapper {
  display: grid;
  @include mq.mq($until: tablet) {
    gap: 24px;
  }
  @include mq.mq($from: tablet) {
    gap: 36px;
  }
}

.button {
  background: #000;
  border-radius: 4px;
  color: #fff;
  font-weight: 900;
  padding: 12px;
  width: 100%;
}

.buttonsWrapper {
  display: flex;
  gap: 24px;
}
