.wrapper {
  align-items: center;
  background: rgba(#fff, 0.5);
  cursor: pointer;
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.text {
  font-family: "Kaushan Script", cursive;
  @include mq.mq($until: tablet) {
    font-size: 56px;
  }
  @include mq.mq($from: tablet) {
    font-size: 108px;
  }
}
